<div id="events">
  <h1>All Events</h1>
  <div class="d-flex gap-4">
    <% @events.each do |event| %>
        <%= render 'shared/event_card', event: event, attendance_record: @attendance_record%>
    <% end %>
  </div>
</div>
